body {
    display: grid;
    grid-template-columns: [first] 64px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
  grid-template-rows: [row1-start] 64px [row1-end] 800px [third-line] 100% [last-line];
}

#game-canvas {
    grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.f {
    grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
