body {
    background-image: url("./IMG/Backgrounds/background.png");
}

#game-canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 1344px;
  height: 896px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 10px solid rgb(2, 62, 138);
}


